<ul class="topnav">
    <li><a class="active" href="#">Acceuil</a></li>
    <li><a href="#">Actualité</a></li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Mes centres d'interets</a>
        <div class="dropdown-content">
            <a href="#!/starwars">Star Wars</a>
            <a href="#!/cinema">Cinema</a>
            <a href="#!/numerique">Numérique</a>
        </div>
    </li>
    <li><a href="#!/contact">Contact</a></li>
    <li><a href="#">A propos</a></li>
</ul>